.projectButtonRoot {
  & :hover {
    .arrow {
      transform: translateX(0px);
      opacity: 1;
    }
  }
  .arrow {
    transition: all 0.2s ease-out;
    transform: translateX(-10px);
    transform-origin: left center;
    opacity: 0;
  }

  .projectName {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
  }
}

.projectButtonRootLabel {
  width: 100%;
}